@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200&display=swap');
* {
     margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Josefin Sans', sans-serif;
}   
/* menu  */ 
.topnav{
    background:white;
    margin:0;
    padding:0.5rem 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
    font-size: 16px;

}
.nav-item{
    list-style: none;
    margin-right: 2rem;

}
.nav-item a{
    text-decoration: none;
    color: black; 
}
.nav-item a:hover{
    color:#e1bee7;
    transition: all 200ms ease-in;
}
.btn-primary{
    font-family:'Josefin Sans', sans-serif;
    font-size: 1rem;
    border:none;
    outline: none;
    background:  #efebe9;
    padding:0.5rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.btn-primary:hover{
    background: var(--clr-primary-hover);
}
.mi-clase{
    margin-left: 40%;
    background:white;
    
    padding:0.5rem 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    
}

/*menu*/
.principal-tu{
    position:relative;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px; 
}
.header-img{
    width:1005px;
    position: relative; 
    left:440px;
    
}

/* CONTACT */
.textobro h1{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 199px;
}
.cajita{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kontact-cont{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;


}
.kontact-texto{
    width:50%;
    font-size: 40px;
    font-weight: 200;
    margin-left: 60px;


}
.k-cont{
    display: flex;
    justify-content: flex-end;
}

.kontact-ph{
    width:40%;
}
.contacto{
    border: 20px;
    box-shadow: #eac4a3;
    margin: 70px;
    font-size: 30px;
    font-weight: 200;
    line-height: 40px;
    margin-top: 100px;
}
/* Fide */
.fide{
    display: flex;
    justify-content: center;
    width:100%; 
    flex-direction: row;
    align-items: center;
}
.fide-x{
    width:100%;
    height:630px;
}
.lead-container{
    display: flex;
    background: #fafafa;
    font-size: 23px;
    font-weight: 200;
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 140px;
    align-items: center;
    width:90%;
    
}
.lead-text-a{
    padding: 30px;
}
.pepito{
    display: flex;
     flex-direction: column;
     background:white;
     border-top:20px; 
     align-items: flex-end; 
}    
.lead-text-b{
    margin:20px;  
    width:70%;  
}
.nespresso-container{
    background-color: black;
    color: #eac4a3;
    font-weight: 200;
    font-size: 19px;
    display: flex;
    align-items: center;
} 
.nespresso-text{
    display: flex;
    align-items: center;
    margin: 30px;
}
.nespresso-parrafo{
    width: 70%;
    line-height: 50px;
    margin: 50px;
}
.nespresso-img{
    display: flex;
    align-items: flex-end;
    width: 50%;
}


.cafe-container{
    width:100vw; 
    height: 100vh;
    background-image: url("https://cdn.moble.com/w/895/164664/file/MAIN%20IMG_161108_Nespresso_Creatista_193.jpg");
    background-size: cover;
    margin-top: 70px;
    
    
}
.cafe-container .cafe-hero{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 50px;

}
.hero-text{
    width:50%;
    color:white;

}
.hero-text h1{
    margin:0;
    font-family: 'Josefin Sans';
    font-size: 60px;
    color: #91604f;
    padding-bottom: 20px;
    
}
.hero-text p{
    font-weight: 200;
    line-height: 27px;
    margin:0;   
}
.button-hero{
    margin-top: 40px;
    font-weight: 200;
}
.button-hero a{
    text-align: center;
    text-decoration: none;
    color:#f3b6a1;
    padding: 12px 45px;
    background-color: #4b2c20;
    border-radius: 20px;
    transition: 0.5s all;
    box-shadow: 5px 5px 13px 7px #694031;
}
.button-hero a:hover{
    box-shadow: 5px 5px 20px 7px black;
}
.green-cont{
    background-color: white;
}    
    

/*about */ 
.about{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.about-left{
    width:35%;
    font-weight: 200;
    font-size: 17px;
    line-height: 37px;
    
}
.fotx{
    width:40%;
    height:50%;
}
.trois-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap;
    height:auto;
    width:100%;
    margin-top: 59px;

}
.trois-section{
    width:20%;
    background-color: #fafafa;
    font-weight: 200;
    font-size: 19px;
    margin: 40px;
    box-sizing: border-box;
}
/*responsive de trois cont*/
@media screen and (max-width:1200px){
    .trois-section{
        width:40%;

    }
}
@media screen and (max-width:700px){
    .trois-section{
        width:40%;
    }
}

.foto-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-medium{
    width:25%;
    margin-top: 40px;
}
.centrado-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 99px;   
}
.centrado-en{
    width:87%;
    font-size: 47px;
    font-weight: 200;
}

/* MKT */
.portadax{
    background-image: url("https://64.media.tumblr.com/a0a20a7735f85d5078441d852eae7653/cdb9f6187e4ef913-a2/s1280x1920/123b5b814397d46eea51196d529f0676adb5fc86.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;    
    width:100%;
    height: 72vh;  
}
.volar{
    font-size: 50px;
    font-weight: 200;
    color:white;
    
}
.tituloo{
    font-size: 56px;
}